@import "../../index.css";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--light);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}

.auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.login-link a {
  color: var(--text-color);
}

.profile {
  display: none;
}
/* 
.nav-link{
  display: inline-block;
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem 1.1rem;
  border-radius: 10px;
} */
