.btn-check-mail {
  width: 100%;
}
.forgot-password-cont {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-forgot-password {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont1 {
  background-color: #f8f9fa;
  height: 100%;
}
.cont-forgot-password-sub {
  padding: 3rem;
  max-width: 500px;
}
#cont-password {
  background-color: #f8f9fa;
  fill: #f8f9fa;
}

.forgot-password-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reset-success {
  color: green;
  font-size: 1rem;
}
