

.btn-reset-password {
    width: 100%;
  }

  .forgot-password-cont {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont-reset-password {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont1 {
    background-color: #f8f9fa;
    height: 100%;
  }

  .cont-reset-password-sub {
    padding: 3rem;
    max-width: 500px;
  }

  #cont-password {
    background-color: #f8f9fa;
    fill: #f8f9fa;
  }

  .reset-password-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .reset-success {
    color: green;
    font-size: 1rem;
  }
  



.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: #333; 
  padding: 0;
  margin: 0;
}



