* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  margin: 0 auto;
  text-align: left;
}

#root > div.hero {
  display: flex;
}

.hero-wrapper {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
