.event-ticket-modal{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(14, 12, 12, 0.8);
}

.tickets{
    width: 90%;
    max-width: 450px;
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.modal-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.modal-nav button{
    border: 1px solid grey;
    padding: 5px 10px;
    margin-bottom: 5px;
}